@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

*,
*::before,
*::after {
  font-family: "Hanken Grotesk", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 16px;
  background-color: #fff;
  max-width: 600px;
  box-shadow: 20px 20px 25px hsl(221, 100%, 96%);
}

.section-title {
  font-size: 18px;
}

/* result section */

.result-section {
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  color: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

.result-section .section-title,
.result-section p {
  color: hsl(241, 100%, 89%);
}

.result h1 {
  font-size: 3rem;
}

.result p {
  color: hsla(241, 100%, 89%, 0.5);
}

.result {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  padding: 2rem;
  margin: 1.5rem 0;
}

.description {
  text-align: center;
  margin: 0.5rem 0.5rem 1rem;
}

/* summary section */

.summary-section .section-title {
  color: hsl(224, 30%, 27%);
  text-align: left;
}

.summary-section {
  padding: 1.5rem 2rem;
  text-align: center;
}

/* scores */

.scores {
  margin: 1.5rem 0;
}

.score {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  margin: 0.75rem 0;
}

.score p {
  font-weight: bold;
}

.score div {
  display: flex;
}

.score-title {
  margin-left: 0.5rem;
}

.score span {
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

/* individual scores */

.reaction-title {
  color: hsl(0, 100%, 67%);
}

.reaction {
  background-color: hsla(0, 100%, 67%, 0.05);
}

.memory-title {
  color: hsl(39, 100%, 56%);
}

.memory {
  background-color: hsla(39, 100%, 56%, 0.05);
}

.verbal-title {
  color: hsl(166, 100%, 37%);
}

.verbal {
  background-color: hsla(166, 100%, 37%, 0.05);
}

.visual-title {
  color: hsl(234, 85%, 45%);
}

.visual {
  background-color: hsla(234, 85%, 45%, 0.05);
}

/* button */

.btn {
  width: 100%;
  padding: 0.8rem 0;
  border: none;
  background-color: hsl(224, 30%, 27%);
  color: #fff;
  border-radius: 24px;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    max-width: 500px;
    margin: 1rem;
  }
}

@media only screen and (max-width: 375px) {
  .container {
    grid-template-columns: 1fr;
    max-width: 350px;
    margin: 1rem;
  }
}
